@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.8px;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
  overflow-x: hidden;
  background-color: var(--background);
}
section{
  overflow-x: hidden;
  /* padding: 100px 0; */
}
.tc {
  background: -webkit-linear-gradient(78deg, #64ffda 0%, #00b086 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
:root{
  --green:#64ffda;
  --bluewhit:#ccd6f6;
  --dark:#8892b0;
  --background:#111111;
  --innerbackground:#1e1e1e;
  --backgroundGren:linear-gradient(78deg, #01d3a2 0%, #2bf7c7 100%);
}

.con {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}



nav {
  padding: 20px 0;
  background-color: black;
}


.nav__con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1#logo {
    font-size: 30px;
    color: white;
    z-index: 1;
}

ul.nav__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    /* z-index: -1; */
}

ul.nav__ul li a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.cA, ul.nav__ul li a:hover{
  background: -webkit-linear-gradient(78deg, #7dfddf 0%, #00ffc3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burgerItem{
  display: none;
}
.do{
  position: relative;
}
.dd__div{
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: var(--innerbackground);
  padding: 10px 20px;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-out;
  transition: transform 0.5s ease;
  }
  span{
    color: #ccd6f6;
    font-size: 15px;
    cursor: pointer;
  }
.dd__div.activ{
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.fa-chevron-down{
  color: white;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.2s ease-out;
}
.fa__aseDeg{
  transform: rotate(180deg);
}


@media screen and (max-width:450px) {
  html, body{
    overflow-x: hidden;
  }
  .burgerItem{
    display: block;
  }
  ul.nav__ul{
    background: #000000b1;
    overflow-x: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    padding: 50px;
    transform: translateX(100%);
   transition: transform 0.2s ease-out;
  }
  ul.nav__ul.nav__ulA{
    transform: translateX(0);
  }
  ul.nav__ul li{
    margin-bottom: 40px;
  }
  .burgerItem i{
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .do{
    position: unset;
  }
  .dd__div{
    position: unset;
    margin-top: 10px;
    background: unset;
  }
  .fa-chevron-down{
    font-size: 14px;
  }
}


/* NAV DONE */

section#hero{
  background-color: black;
}


.hero__con{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__img_div{
  width: 350px;
  height: auto;
}
.hero__img_div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .HR_con {

} */

h1.my__name {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 6px;
  color: var(--green);
}

h1.prof {
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 8px;
  color: white;
}

p.hero__about {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #ddd;
}

button.Hero__about__meBTn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--background);
  background:  linear-gradient(78deg, #64ffda 0%, #00b086 100%);
}

@media screen and (max-width: 450px) {
  section#hero{
    /* z-index: -2; */
  }
  .hero__con{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
  }
  .hero__img_div{
    width: 300px;
    height: auto;
  }
  .hero__img_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* HERO DONE */
section#about__me{
  padding-bottom: 50px;
}
.am__head {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 0;
}

.abm__left{
  width: 200px;
  height: auto;
}
.abm__left img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.abMain{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ab_main_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--innerbackground);
  width: 80%;
  padding: 40px 0;
}

h1.abm__skilsT {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

span.pcng {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.persent {
  width: 150px;
  height: 15px;
  background: var(--backgroundGren);
  font-size: 10px;
  text-align: center;
}

.abm__right div {
  margin-bottom: 10px;
}

@media screen and (min-width:1250px) {
  .persent{
    width: 200px;
  }
}

@media screen and (max-width:450px){
  .ab_main_con{
    display: flex;
    gap: 30px;
    flex-wrap: warp;
  }
}

/* ABOUT ME DONE */

section#services{
  padding-bottom: 50px;
}

.ser__head {
  padding: 40px 0;
}

.ser__Head__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.ser__HUL {
  width: 50px;
  height: 3px;
  background: var(--green);
}

h1.ser__Title {
  font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: white;
}

p.ser__Head__btm {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--green);
}

.ser__main__c__singel {
  width: 300px;
  height: 350px;
  background: var(--innerbackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 40px;
  gap: 25px;
}
.ser__Active{
  background: var(--backgroundGren);
}
.ser__Active i.fa-drafting-compass{
  color: white;
  font-size: 28px;

}
.ser__Active > .ser__know__div > i.fas.fa-arrow-right{
  color: white;
}
.ser__Active 
.ser__uI__des__text, 
.ser__Active > 
.ser__know__div 
button.ser__uI__des__btn {
  color: white;
}
.ser__main__c__con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.ser__main__c__singel i {
  font-size: 28px;
  color: var(--green);
}

h2.ser__uI__des {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}

p.ser__uI__des__text {
  width: 70%;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: var(--bluewhit);
}

button.ser__uI__des__btn {
  background: none;
  display: inline-block;
  outline: none;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--green);
  cursor: pointer;
}
.ser__know__div {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
i.fas.fa-arrow-right {
  color: var(--green);
  font-size: 15px;
}